$monokai-black: #272822;
$monokai-pro-black: #2D2A2E;
$monokai-purple: #AE81FF;
$monokai-pro-purple: #AB9DF2;
$monokai-blue: #66D9EF;
$monokai-pro-blue: #78DCE8;
$monokai-green: #A6E22E;
$monokai-pro-green: #A9DC76;
$monokai-yellow: #E6DB74;
$monokai-pro-yellow: #FFD866;
$monokai-orange: #FD971F;
$monokai-pro-orange: #FC9867;
$monokai-pink: #F92672;
$monokai-pro-pink: #FF6188;
