$monokai-black: #272822;
$monokai-pro-black: #2d2a2e;
$monokai-purple: #ae81ff;
$monokai-pro-purple: #ab9df2;
$monokai-blue: #66d9ef;
$monokai-pro-blue: #78dce8;
$monokai-green: #a6e22e;
$monokai-pro-green: #a9dc76;
$monokai-yellow: #e6db74;
$monokai-pro-yellow: #ffd866;
$monokai-orange: #fd971f;
$monokai-pro-orange: #fc9867;
$monokai-pink: #f92672;
$monokai-pro-pink: #ff6188;
