@import '../../styles/variables';

.toolbar {
  display: flex;
  flex-direction: column;
  background-color: $monokai-pro-black;

  &__json-mask,
  &__format,
  &__link{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 36px;
      height: 36px;
    }
  }

  &__button {
    cursor: pointer;
    border: 1px solid $monokai-pro-black;

    &:hover {
      border: 1px solid $monokai-pro-purple;
    }

    &:active {
      border: 1px solid $monokai-pro-green;
    }
  }

}
