@import './styles/variables';

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.ace_scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
  background-color: $monokai-pro-black;
}

.ace_scrollbar::-webkit-scrollbar {
  width: 4px;
  background-color: $monokai-pro-black;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
  background-color: #FFF;
  background-image: -webkit-gradient(linear,
  40% 0%,
  75% 100%,
  from($monokai-purple),
  to($monokai-black),
  color-stop(.6,$monokai-purple))
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
